@import url(bootstrap.min.css);
@import url(thaisans-neue.css);
@import url(style-m.css);
@import url(font-awesome.min.css);
@import url(THSarabunNew.css);

/* Responsive Design Css */
.menu {
	margin-top: 6px;
}
.black {
	background-color: #000!important; 
	position: static!important;
	color: #fff;
}
.menubar {
	background-color: rgba(0,0,0,.5);
	margin-top: -9px;
	padding-top: 30px;
	padding-bottom: 30px;
	position: absolute;
	width: 100%;
}
.menubar--right > a {
	margin-left: 5px;
	border-radius: 10px;
	color: #000;
	background: rgba(255,255,255,0);
	padding: 1px 10px;
}
.menubar--right > a.active {
	margin-left: 10px;
	color: #fff;
	background: rgba(52, 152, 219,1.0);
	padding: 1px 10px;
	border-radius: 10px;
}
.menubar--right > a.active:hover {
	margin-left: 10px;
	color: #fff;
	background: rgba(52, 152, 219,1.0);
	padding: 1px 10px;
	border-radius: 10px;
}
.menubar--right > a:hover {
	text-decoration: none;
	color: #fff;
	background: #39D5FF;
}
.menubar--mobile {
	font-family: "tsn regular",sans-serif;
	font-size: 22px;
	margin-top: 15px;
}
.fa-list-ul {
	font-size: 25px;
	margin-top: 4px;
}
.pz-hero {
	min-height:500px;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	height: 80vh;
    background: url(../img/hero2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pz-hero > .container > center > h1 {
	margin-top: 19%;
	font-family: "tsn ultra-bold", sans-serif;
	font-size: 80px;
	line-height: 0.8em;
}
.pz-hero > .container > center > span {
	font-family: "THSbn", sans-serif;
	font-size: 30px;
	color: #ccc;
}
.menubar > .container > .pull-right > a {
	color: #fff;
	margin-left: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.menubar > .container > .pull-right > a.menu-extra {
	padding: 7px 15px;
	border-radius: 3px;
	background: #1d9bd9;
    background: -webkit-linear-gradient(#9b59b6, #8e44ad);
    background: linear-gradient(#9b59b6, #8e44ad);
}
.menubar > .container > .pull-right > a:hover {
	text-decoration: none;
	color: #ddd;
}
.logo {
	font-size: 25px;
}
.logo > .fa-server {
	margin-right: 15px;
}
.logo > .pz {
	color: #BC8CF0;
}
.logo > .hacker1 {
	color: #b4b4b4;
}
a.login {
	background: #1d9bd9;
    background: -webkit-linear-gradient(#3498db, #2980b9);
    background: linear-gradient(#3498db, #2980b9);
    font-family: "tsn bold", sans-serif;
    font-size: 30px;
    color: #fff;
  	padding: 6px 30px;
  	border-radius: 5px;
  	margin-right: 15px;
}
a.login:hover {
	text-decoration: none;
}
a.register {
	background: #1d9bd9;
    background: -webkit-linear-gradient(#2ecc71, #27ae60);
    background: linear-gradient(#2ecc71, #27ae60);
    font-family: "tsn bold", sans-serif;
    font-size: 30px;
    color: #fff;
  	padding: 6px 30px;
  	border-radius: 5px;
  	margin-right: 15px;
}
.register:hover {
	text-decoration: none;
}
a.promotion {
	background: #954222;
    background: -webkit-linear-gradient(#d9521d, #c1572d);
    background: linear-gradient(#d9521d, #c1572d);
    font-family: "tsn bold", sans-serif;
    font-size: 30px;
    color: #fff;
  	padding: 6px 30px;
  	border-radius: 5px;
}
.promotion:hover {
	text-decoration: none;
}



h1.title {
	font-family: "tsn bold", sans-serif;
	font-size: 50px;
	line-height: 0.8em;
}
span.title {
	font-family: "tsn bold", sans-serif;
	font-size: 27px;
	color: #34495e;
}
span.sub-title {
	color: #70747A;
	font-family: "THSbn", sans-serif;
	font-size: 24px;
}
.center {
	text-align: center;
}
.img {
	width: 175px;
}

.contact-tab {
	width: 100%;
	padding-top: 7px;
	bottom: 7px;
    background: -webkit-linear-gradient(#9B4BDB, #8e44ad);
    background: linear-gradient(#9B4BDB, #8e44ad);
	font-family: "THSbn", sans-serif;
	font-size: 24px;
	color: #fff;
}

.i-icon{
width: 25px;
margin-left: 4px;
margin-right: 4px;
height: 25px;
}

/* Review From Customer */
.review-panel {
	width: calc(100%-40px);
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 15px 20px;
	margin-bottom: 15px;
}
.review-panel > center > .image {
	width: 175px;
	border-radius: 100px;
	margin-bottom: 10px;
}

/* Footer */
.footer {
	background-color: #2e3234;
	width: 100%;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.footer-inc {
	font-family: "THSbn", sans-serif;
	color: #747474;
	font-size: 22px;
	line-height: 0.5em;
}
span.footer-title {
	font-family: "tsn bold", sans-serif;
	color: #fff;
	font-size: 25px;
}
.footer-content {
	color: #b8b8b8;
	font-family: "THSbn", sans-serif;
	font-size: 22px;
}
.footer-content:hover {
	color: #b8b8b8;
	font-family: "THSbn", sans-serif;
	font-size: 22px;
	text-decoration: none;
}
.footer-icon {
	margin-right: 10px;
	font-size: 18px
}
.footer-text {
	color: #747474;
	font-family: "tsn bold", sans-serif;
	font-size: 30px;
	margin-top: 40px;
}



.gray-panel {
	width: 100%;
	background-color: #ecf0f1;
}
.black-panel {
	background-color: #2e3234;
	width: 100%;
}
.white-panel {
	background-color: #f1f1f1;
	width: 100%;
}
.why-title-b {
	font-family: "tsn bold", sans-serif;
	font-size: 40px;
	color: #F1F1F1;
}
.priceb {
	width: calc(100% - 40px);
	padding: 10px 20px;
	background-color: #00aeef;
	font-family: "THSbn", sans-serif;
	font-size: 30px;
	color: #2e3234;
}
.price {
	width: calc(100% - 40px);
	padding: 10px 20px;
	background-color: #00aeef;
	font-family: "THSbn", sans-serif;
	font-size: 30px;
	color: #fff;
}
.priceh {
	width: calc(100% - 40px);
	padding: 10px 20px;
	background-color: #ff4c23;
	font-family: "THSbn", sans-serif;
	font-size: 30px;
	color: #fff;
}
.why-title{
	font-family: "tsn bold", sans-serif;
	font-size: 40px;
	color: #444;
}
.why-content {
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	color: #666;
}
.why-content-b {
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	color: #F4F4F4;
	margin-top: 10px;
}
.green {
	color: #2ecc71!important;
	font-size: 22px;
	margin-right: 10px;
}
a.buy {
	background: #1d9bd9;
    background: -webkit-linear-gradient(#3498db, #2980b9);
    background: linear-gradient(#3498db, #2980b9);
    font-family: "THSbn", sans-serif;
    font-size: 25px;
    color: #fff;
  	padding: 4px 30px;
  	border-radius: 5px;
  	margin-right: 15px;
}
a.buy:hover {
	text-decoration: none;
}
.display-none {
	display: none;
}
.white {
	color: #fff;
}
.black {
	color: #2e3234;
}
.padding {
	padding-left: 10px;
	padding-right: 10px;
}

/* VPS 	 table plan */

.plan {
	width: 100%;
	color: #fff;
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	border: #0ab1e8 2px solid;
	margin-top: 20px;
	border-radius: 7px;
}
.plan-padding {
	padding: 20px;
}
.plan-pricing {
	width: 100%;
	background-color: #0ab1e8;
	line-height: 1em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.plan-pricing > .plan-title {
	font-family: "tsn bold", sans-serif!important;
	font-size: 30px!important;
	text-align: center;
}
.plan-pricing > .pricing {
	font-family: "THSbn", sans-serif!important;
	font-size: 22px!important;
}
.planw {
	width: 100%;
	color: #fff;
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	border: #dc1c1c 2px solid;
	margin-top: 20px;
	border-radius: 7px;
}
.planw-padding {
	padding: 20px;
}
.planw-pricing {
	width: 100%;
	background-color: #dc1c1c;
	line-height: 1em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.planw-pricing > .plan-title {
	font-family: "tsn bold", sans-serif!important;
	font-size: 30px!important;
	text-align: center;
}
.planw-pricing > .pricing {
	font-family: "THSbn", sans-serif!important;
	font-size: 22px!important;
}
.buying {
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	color: #fff!important;
	display: inline-block;
	width: 100%;
	background-color: #0ab1e8;
	text-align: center;
	border-radius: 3px;
}
.buying:hover {
	text-decoration: none;
	background-color: #1D93E2;
}
.buyingw {
	font-family: "THSbn", sans-serif;
	font-size: 25px;
	color: #fff!important;
	display: inline-block;
	width: 100%;
	background-color: #dc1c1c;
	text-align: center;
	border-radius: 3px;
}
.buyingw:hover {
	text-decoration: none;
	background-color: #ff421d;
}
.bot {
	margin-bottom: 50px;
}
.fb-btn {
	font-family: "THSbn", sans-serif;
	font-size: 27px;
	color: #fff!important;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #0ab1e8;
	text-align: center;
	border-radius: 3px;
}
.fb-btn:hover {
	text-decoration: none;
	background-color: #1D93E2;
}
.btn {
	font-family: "THSbn", sans-serif;
	font-size: 27px;
	color: #fff!important;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #0ab1e8;
	text-align: center;
	border-radius: 3px;
}
.btn:hover {
	text-decoration: none;
	background-color: #1D93E2;
}












